<!DOCTYPE html><html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>video</title>
    <meta name="author"  content="{{ site.author }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords"  content="{{ site.keyword }}">
    <link rel="stylesheet" href="{{ "/assets/demo.css" | prepend: site.baseurl }}">
</head>

<body style="background:white;">
    {{ content }}
    <!-- Plyr core script -->
    <script src="{{ "/assets/plyr/dist/plyr.js" | prepend: site.baseurl }}"></script>
    <script>

    new Plyr('#player', {
        keyboard: {
            global: true
        },
        tooltips: {
            controls: true
        },
         controls: [
            'play-large',
            'restart',
            'rewind',
            'play',
            'fast-forward',
            'progress',
            'current-time',
            'duration',
            'mute',
            'volume',
            'captions',
            'settings',
            'pip',
            'airplay',
            'fullscreen',
        ],
         i18n: {
            restart: '重新开始',
            rewind: '快退{seektime}秒',
            play: '播放',
            pause: '暂停',
            fastForward: '快进{seektime}秒',
            seek: '尋求',
            played: '發揮',
            buffered: '緩衝的',
            currentTime: '當前時間戳',
            duration: '长短',
            volume: '音量',
            mute: '静音',
            unmute: '取消静音',
            enableCaptions: '打开字幕',
            disableCaptions: '关闭字幕',
            enterFullscreen: '打开全屏',
            exitFullscreen: '退出全屏',
            frameTitle: '球員为{title}',
            captions: '字幕',
            settings: '设置',
            speed: '速度',
            normal: '正常',
            quality: '质量',
            loop: '循环',
            start: 'Start',
            end: 'End',
            all: 'All',
            reset: '重放',
            disabled: '禁用',
            enabled: '启用',
            advertisement: '广告',
        },
        captions: {
            active: true
        }
    });

    </script>

</body>

</html>